@using Microsoft.AspNetCore.Identity
@using DataAccessLayer.Entities
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var isSignedIn = SignInManager.IsSignedIn(User);
    var appUser = (isSignedIn) ? UserManager.GetUserAsync(User).Result : null;
    var isUserAdmin = (isSignedIn) ? UserManager.IsInRoleAsync(appUser, "Admin").Result : false;
}
<nav class="navbar navbar-expand-lg navbar-light navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ElectronicsShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["HomeNav"]</a>
                </li>
                @if (isUserAdmin)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="AdminPanel" asp-action="Index">@Localizer["AdminPanelNav"]</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <form class="container-fluid justify-content-start">
        @if (isSignedIn)
        {
        <span>@Localizer["welcome"] @appUser.FullName</span>
            <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-dark me-2">@Localizer["Logout"]</a>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login" class="btn btn-outline-dark me-2">@Localizer["Login"]</a>
            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-dark me-2">@Localizer["Register"]</a>
        }
    </form>

    <vc:culture-picker />
</nav>
